
/********** NORMES **********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Times New Roman", sans-serif;
}

h1 {
    font-size: 1.5em;
}

p, li {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100%;
    min-width: 320px;
    max-height: 100vh;
    margin: 0 auto;
}

/*********** INDEX VERSION MOBILE************/
/*********** HEADER **********/

.header__logo {
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 8px 15px -5px rgba(0, 0, 0, 0.1);
}

.header__logo img {
    width: 200px;
    height: 35px; 
}

/********** DIV LOCATION **********/

.location {
    background-color: #eaeaea;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location i {
    padding-right: 15px;
    padding-bottom: 5px;
    font-size: 1em;
}

/********** DIV EXPLORER **********/

.explorer {
    height: 250px;
    width: 100%;
    background: #f7f7f7;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding-top: 35px;
    padding-bottom: 35px; */
    padding: 35px 0;
}

.explorer h1 {
    width: 60%;
    margin: 0 auto;
}

.explorer p {
    width: 70%;
    margin: 0 auto;
}

.btn-purple {
    width: 40%;
    min-width: 185px;
    max-width: 250px;
    font-size: 0.9em;
    height: 40px;
    background: linear-gradient(#ed92df, #a65cdc);
    font-weight: 500;
    color: white;
    text-align: center;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
}

/********** DIV FONCTIONNEMENT **********/

.fonctionnement {
    height: 350px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.fonctionnement h1 {
    align-self: flex-start;
}

/********** FONCTIONNEMENT BUTTONS **********/

.btn {
    width: 80%;
    min-width: 260px;
    height: 65px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.btn-gray {
    max-width: 415px;
    background: #f7f7f7;
    font-size: 1em;
    font-weight: 600;
}

.btn-gray:hover {
    background: #f5edff;
}

.btn-gray i {
    margin-right: 20px;
}

.btn-gray span {
    position: absolute;
    left: -10px;
    top: 20px;
    padding-top: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background: #9356dc;
    color: white;
}

/********** SECTION RESTAURANTS **********/

.restaurants {
    width: 100%;
    height: 1200px;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 30px;
}

.restaurants h1 {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

/********** CARD RESTAURANTS **********/

.card {
    width: 90%;
    height: 250px;
    background: white;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.card__img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.card__body {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.card__body-icon {
    font-size: 1.5em;
}

/********** FOOTER *********/

footer {
    height: 30vh;
    padding: 25px;
    background: #353535;
    color: white;
}

footer ul {
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 25px;
    line-height: 25px;
}

footer i {
    padding-right: 10px;
}

footer img {
    width: 170px;
    height: 30px;
    filter: invert(100%);
}

/********** PAGES VERSION MOBILE **************/

.fa-arrow-left {
    font-size: 1.3em;
    position: absolute;
    left: 30px;
    top: 20px;
}

.menu__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/*********** SECTION MENU ***********/

.menu {
    width: 100%;
    height: 1200px;
    border-radius: 25px;
    background: #f7f7f7;
    position: relative;
    z-index: 1;
    margin-top: -30px;
    padding: 20px;
}

.menu__heading {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;   
    align-items: center;
}

.menu__heading h1 {
    font-family: "Shrikhand";
    font-size: 2em;
}

.menu__part h2 {
    font-weight: 300;
    font-size: 1.2em;
    border-bottom: 3px solid #99E2D0;
    width: 10%;
}

.menu__heading i {
    font-size: 1.5em;
}

.menu__part {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
}

/************* MENU BUTTONS ***********/

.menu__button {
    width: 100%;
    padding-top: 15px;
    text-align: center;
}

.btn-white {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 10px 20px 10px 10px;
    background: white;
    text-align: left;
}

.btn__prix {
    display: flex;
    justify-content: space-between;
}

/********** NOTE ENCHANTEE MENU AVEC 4btn *********/

._4btn{
    height: 350px;
}


/************ MEDIA QUERIES ***********/
/********** VERSION TABLETTE **********/

@media only screen and (min-width: 768px) and (max-width: 994px) {
   
   /********** INDEX VERSION TABLETTE *******/

    body {
        width: 100%;
    }

    .header__logo {
        width: 100%;
    }

    .header__logo img {
        max-width: 25%;
    }

    .location {
        width: 100%;
    }

    .btn {
        width: 27%;
        min-width: 230px;
    }

    .fonctionnement {
        width: 100%;
        height: 200px;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .fonctionnement h1 {
        width: 100%;
        text-align: center;
    }

    .btn-gray span {
        top: -10px;
        left: 0;
        width: 30px;
        height: 30px;
    }

    .restaurants {
        width: 100%;
        height: 700px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .restaurants h1 {
        grid-column: 1 / -1;
        text-align: center;
    }

    .card {
        width: 90%;
    }

    footer {
        text-align: center;
    }

    /********* PAGES VERSION TABLETTE **********/

    .fa-arrow-left {
        visibility: hidden;
    }

    .menu {
        width: 100%;
        height: 700px;
        padding: 10px;
    }

    .menu__heading {
        width: 90%;
    }

    .btn-wide {
        width: 90%;
        height: 90px;
    }

    .btn-white {
        min-width: 240px;
        padding: 5px 10px 5px 5px;
        max-height: 100px;
    }

    .menu__part {
        height: 150px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 20px;

    }

    .menu__part h2 {
        grid-column: 1 / -1;
        height: 30px;
        border-bottom: 3px solid #99E2D0;
    }

    .menu__part h3 {
        text-align: center;
    }

    .btn__prix p {
        margin-top: 10px;
    }

    /********* LA NOTE ENCHANTEE VERSION TABLETTE*********/

    .menu__part._4btn {
        height: 260px;
    }

    .menu.note_enchante {
        height: 830px;
    }
}

/********** VERSION DESKTOP **********/

@media only screen and (min-width: 994px) {

    /******** INDEX VERSION DESKTOP *********/

    body {
        width: 100%;
    }
    .header__logo {
        width: 100%;
    }

    .header__logo img {
        max-width: 15%;
    }

    .location {
        width: 100%;
    }

    .btn {
        width: 27%;
    }
    
    .fonctionnement {
        width: 100%;
        height: 200px;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .fonctionnement h1 {
        width: 100%;
        text-align: center;
    }

    .btn-gray span {
        top: -10px;
        left: 0;
        width: 30px;
        height: 30px;
    }

    .restaurants {
        height: 450px;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .restaurants h1 {
        grid-column: 1 / -1;
        text-align: center;
    }

    .card {
        min-width: 250px;
        min-height: 300px;
    }

    .card__img {
        height: 200px;
    }

    footer {
        padding-top: 35px;
        height: 25vh;
        text-align: center;
    }

    footer > ul {
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;

    }

    /********** PAGES VERSION DESKTOP **********/

    .fa-arrow-left {
        visibility: hidden;
    }

    .menu {
        width: 100%;
        height: 700px;
        padding: 10px;
    }

    .menu__heading {
        width: 90%;
    }

    .btn-wide {
        width: 90%;
        padding: 5px 10px 5px 5px;
        height: 100px;
    }

    .menu__part {
        height: 150px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .menu__part h2 {
        height: 30px;
        grid-column: 1 / -1;
        border-bottom: 3px solid #99E2D0;
        width: 5%;
    }

    .menu__part h3 {
        text-align: center;
    }

    .btn__prix p {
        margin-top: 10px;
    }

    /********* LA NOTE ENCHANTEE VERSION DESKTOP *********/

    .menu__part._4btn {
        height: 280px;
        padding-top: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .menu.note_enchante {
        height: 830px;
    }

}





